body {
  background: #e4f3f7;
}

a {
  color: #1d8bb0;
}

.App{
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}